@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply this class to reset all styles to match Tailwind's preflight. This
  gives us a clean slate to work from without having to worry about inheriting
  any Bootstrap or custom styles. Note that for smaller components, it may not
  be worthwhile to use this, but instead to override inherited styles with 
  utility classes where necessary. */
  .tailwind-reset {
    *,
    ::before,
    ::after {
      border-width: 0;
      border-style: solid;
      border-color: theme('borderColor.DEFAULT', currentColor);
    }

    ::before,
    ::after {
      --tw-content: '';
    }

    hr {
      height: 0;
      color: inherit;
      border-top-width: 1px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      margin: 0;
      padding: 0;
    }

    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
      margin: 0;
    }

    fieldset {
      margin: 0;
      padding: 0;
    }

    legend {
      padding: 0;
    }

    ol,
    ul,
    menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
      display: block;
      vertical-align: middle;
    }

    img,
    video {
      max-width: 100%;
      height: auto;
    }

    label {
      margin: 0;
      font-weight: inherit;
      color: inherit;
    }
  }
}
